body.pushable,body {
	overflow-x: visible !important;
	padding-top: 80px !important;
	background: #fff !important;

	.pusher {
		overflow: visible !important;

		&.dimmed {
			overflow: none !important;
		}
	}
}

.search-bar {
	position: fixed;
	top: 42px;
	width: 100vw;
}

.ui.form {
	textarea.response {
		height: 70vh !important;
}
}

.ui.uncover.sidebar {
	z-index: 1000 !important;
}



.ui.segment {
	padding: 0 !important;
}

.drag-area {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 2;
	top: 30px;
}

.close {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
	svg {
		stroke: black;
	}
}

.ember-modal-dialog {
	padding: 30px 20px;
}