.overlap-highlighter {
	position: absolute;
	height: 100%;
	background: lighten(mix(red, orange, 70%), 20%);
  box-shadow: inset 0 0 10px transparentize(black, 0.8);
	top: 0;

	transition: 1s left, 1s width;
}

.reservation.dirty {
	.overlap-highlighter {
		border-bottom: 4px solid purple;
		border-top: 4px solid purple;
	}
}



