/* 
    Document   : style-table
    Created on : 13.6.2013, 9:28:51
    Author     : Martin
    Description:
        Purpose of the stylesheet follows.
*/

$col-width: 40px;
$row-height: 24px;
$orange: lighten(orange, 20%);

.ember-application {
    padding:0;
    margin:0;
    position: relative;

    .form input {
        border-radius: 0 !important;
        margin-top: -2px !important;
    }
}

.month-info {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    // background: transparentize(white, 0.5);
    background: white;
    border: 1px solid black;
    z-index: 100;
}

.calendar {
    position: relative;
    width:(32+32)*$col-width;
    overflow: hidden;
}

.note {
    max-height: 200px;
    overflow:auto;
}

* {
    box-sizing: border-box;
}

a {
    cursor:pointer;
    color:red;
}
div.table {

    background:url('../../img/calendar-bg.png');
    padding:0;
    margin:0;
    overflow:hidden;
    border:1px solid lightgrey;
    width:100%;
    overflow-x:hidden;
    
}
div.day-cell,a.cote-cell,div.column {
    margin:0;
    width:$col-width;
    flex-shrink: 0;
    height:$row-height;
    text-align:center;
    border-right:1px solid lightgrey;
    border-bottom:1px solid lightgrey;
    font-size:0.8em;
}
div.column {
    float:left;
    height:100%;
    z-index:1;
}
div.day-cell{
    float:left;
    color: darken(lightgrey, 40%);
}
div.cote-cells {
    position:relative;
    z-index:3;
    width: $col-width;
    color: white;
    text-shadow: 1px 1px transparentize(black, 0.5);

    .cote-cell {
        display: block;
        color: white;
        width: 100%;
        position: relative;
        border-bottom:1px solid transparentize(lightgrey, 0.6);

        &.selected {
            // outline: 3px solid transparentize(lightgrey, 0.2);
            font-weight: bold;
            // font-size:15px;
            color: red;
            border: 1px solid red;
            // background: white !important;
            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background: transparentize(white, 0.6);
                z-index: 0;
            }

            .number {
                position: relative;
                z-index: 2;
            }

        }

        &:hover {
            cursor: pointer;
            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background: transparentize(red, 0.7);
            }
        }

    }
}
div.columns, div.top-row {
    padding:0;
    margin:0;
    position:absolute;
    width:100%;
    z-index:1;
    /*background-color:white;*/
    cursor:pointer;
    height:calc(100vh - 56px);
    display: flex;
}
div.top-row {
    height:$row-height;
    background-color:white;
    z-index:4;
}
div.bottom-row {
    bottom:0;
    border-top:1px solid lightgrey;
    z-index:5;
}
div.reservation {

    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;

    font-weight: 600;

    text-align:left;
    border:1px solid transparentize(darken($orange, 35%), 0.6);
    position:absolute;
    padding-top:1px;
    height:$row-height;
    overflow:hidden;
    z-index:3;
    background:transparentize($orange, 0.6);
    overflow: hidden;
    color: darken($orange, 45%);

    box-shadow: inset 0 0 10px transparentize(black, 0.85);

    transition: 1s left, 1s width, 0.1s background;
    /*z-index:1;*/


    &.unconfirmed {
        outline: 5px solid lightgrey;
    }

    &:hover {
        background: transparentize($orange, 0.3);
        cursor: pointer;
    }
    &.dirty, &.unconfirmed {
        background: transparentize(purple, 0.2);
    }

    span.content {
        position: relative;
        z-index: 3;
        display: inline-block;
        padding-left: 5px;
    }

    .label {
        position: absolute;
        right: 0px;
        height: 90%;
    }
}
/*div.reservation:active{
    height:100%;
    width:100%;
    text-align:center;
    z-index:2;
    background-color:cornflowerblue;
}*/
.cut{
   box-shadow: 10px 0 0px 0px #000; 
}

div.popup{
    position:fixed;
    left:30%;
    top:30%;
    width:30%;
    z-index:5;
    border:1px solid lightgrey;
    background-color:navajowhite;
    padding:10px;
}
div.popup-settings {
    text-align:right;
    margin-bottom:15px;
}

.weekend{
    color:red;
}

.inline {
    display:inline;
}

.reservation-modal {
    .section {
        margin-bottom: 0.3em;
    }
}
