{{#if showReservationModal}}
	{{reservation-modal reservation=selectedReservation onCreate=(action 'saveCutReservation') close=(action 'closeModal')}}	
{{/if}}

<div class="month-info">
	Mesic: {{month}}, Rezervace: {{reservationsEndingInCurrentMonth.length}} Prijmy: {{incomeForCurrentMonth}} Kc
</div>

<div class="search-bar">
	<div class="ui form">
		{{input value=searchValue placeholder="hledat v rezervacich (tento mesic)"}}
	</div>
</div>

<div class="columns">
	{{#each columns as |column|}}
	  <div class="column"></div>
	{{/each}}
</div>

<div {{action "showNavigationModal"}} class="top-row">
	<div class="day-cell"><b>Kotec</b></div>
	{{#each columns as |column|}}
	  <div class="day-cell"> <b>{{moment-format column "D. MM."}}</b> </div>
	{{/each}}
</div>
{{#drag-area draggedReservation=draggedReservation kennels=kennels}}
	{{#each filteredReservations as |reservation|}}
	  {{reservation-ui
	  	model=reservation
	  	showReservation=(action 'showReservationModal')
	  	draggedReservation=draggedReservation
		setDraggedReservation=(action 'setDraggedReservation')
		month=month
		previousMonth=previousMonth
		nextMonth=nextMonth
		year=year
		yearOfPreviousMonth=yearOfPreviousMonth
		yearOfNextMonth=yearOfNextMonth
		reservations=reservations
	  	}}
	{{/each}}

	{{#if unconfirmedReservation}}
		{{reservation-ui
		  	model=unconfirmedReservation
		  	showReservation=(action 'showReservationModal')
		  	draggedReservation=draggedReservation
			setDraggedReservation=(action 'setDraggedReservation')
			month=month
			previousMonth=previousMonth
			nextMonth=nextMonth
			year=year
			yearOfPreviousMonth=yearOfPreviousMonth
			yearOfNextMonth=yearOfNextMonth
			reservations=reservations
			unconfirmed=true
		  	}}
	{{/if}}
{{/drag-area}}


<div class="cote-cells">
<a class="cote-cell"></a>
	{{#each sortedKennels as |kennel|}}
	  {{!-- <div class="cote-cell {{if kennel.isSelected 'selected'}}" style="background-color:{{kennel.color}}"> 
	  	{{kennel.number}}
	  </div> --}}
	  {{kennel-ui model=kennel draggedReservation=draggedReservation}}
	{{/each}}
</div>


{{navigation-modal
	isVisible=showNavigationModal
	close=(action 'closeModal')
	yearOfNextMonth=yearOfNextMonth
	yearOfPreviousMonth=yearOfPreviousMonth
	nextMonth=nextMonth
	previousMonth=previousMonth
	isLoading=isLoading}}

