<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Calendar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="stylesheet" href="{{rootURL}}/assets/vendor.css">
    <link rel="stylesheet" href="{{rootURL}}/assets/calendar.css">
    <link rel="stylesheet" href="//skolapropsy.cz/css/main.css">


    {{content-for "head-footer"}}
  </head>
  <body>

<div class="ui confirm-delete modal">
    <div class="header">Opravdu smazat?</div>
    <div class="content">[cz:opravdu_smazat_tuto_polozku]?</div>
    <div class="actions">
        <div data-cancel-modal class="ui red button">Ne</div>
        <a data-modal-action-link class="ui green button">Ano</a>
    </div>
</div>

    <div class="ui top inverted fixed menu">
        <a data-sidebar-toggle class="item">
            <i class="sidebar icon"></i>
        </a>
    </div>
<div class="ui bottom attached segment">
        <div class="ui inverted left vertical sidebar menu">
            <div class="item">
                <div class="ui white header">
                    Skolapropsy.cz - Administrace
                </div>
            </div>
            <a class="item" href="/admin/news/overview">
                <i class="newspaper icon"></i>
                <span>Novinky</span>
                <div class="menu">
                    <a class="item" href="/admin/news/edit">
                        <span>Přidat novinku</span>
                    </a>
                </div>
            </a>
            <a class="item" href="/admin/images/galleries">
                <i class="photo icon"></i>
                <span>Obrázky</span>
            </a>
            <a href="/admin/calendar/2/2016" class="item">
                <i class="calendar icon"></i>
                <span>Kalendář</span>
            </a>
            <a class="item" href="/admin/reservations/overview">
                <i class="columns icon"></i>
                <span>Rezervace</span>
                <div class="menu">
                    <a class="item" href="/admin/reservations/notconfirmed">
                        <span>Nové rezervace</span>
                    </a>
                </div>
            </a>
            <a class="item" href="/admin/kennels/">
                <i class="home icon"></i>
                <span>Kotce</span>
            </a>
            <a class="item" href="/admin/pages/overview">
                <i class="text file outline icon"></i>
                <span>Stránky</span>
            </a>
            <a class="item" href="/admin/customers/search">
                <i class="users icon"></i>
                <span>Zákazníci</span>
            </a>
            <a class="item" href="/admin/texts/">
                <i class="font icon"></i>
                <span>Texty</span>
            </a>

            <a class="item" href="/admin/sign/out">
                <i class="sign out icon"></i>
                <span>Odhlásit se</span>
            </a>
        </div>
    <div class="pusher">
        <div class="ui basic segment">
            <div class="ui  wide  container">
<div id="calendar">
  {{content-for "body"}}
</div>
            </div>
        </div>
    </div>
</div>
    
    <script src="{{rootURL}}/assets/vendor.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/1.3.21/daterangepicker.js"></script>
    <script src="{{rootURL}}/assets/calendar.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
