{{#each model.overlappingIntervals as |interval|}}
  {{overlap-highlighter startDate=model.valid_from interval=interval}}
{{/each}}
<span class="content">{{model.dog_name}}</span>

{{#if model.issued_invoice}}
  <div class="ui green label">
    <i class="ui icon dollar"></i>
  </div>
{{/if}}
