{{outlet}}

<style>
  * { margin: 0; padding: 0; }
body { font: 14px/1.4 Georgia, serif;line-height:130%; }
#page-wrap { width: 800px; margin: 0 auto; }
#header { height: 32px; width: 100%; margin: 20px 0; background: #222; text-align: center; color: white; font: bold 15px Helvetica, Sans-Serif; text-transform: uppercase; letter-spacing: 5px; padding: 8px 0px; }
textarea,input { border: 0; font: 14px Georgia, Serif; overflow: hidden; }
.inline {display: inline-block;}
.inline textarea {
    width:100%;
    height:110px;
}
#dodavatel,#prijemce, #credit, #sign {
    padding:2%;
    width:30%;
}
#dodavatel b,#prijemce b {
    display:block;
    margin-bottom:5px;
}
#logo {
    width:25%;
}
#logo img {
    max-width:100%;
}
#payment1,#payment2 {
    border-top:1px solid black;
    padding: 1%;
    width:calc(48% - 1.5px);
}
textarea.medium {
    height:45px;
}
#payment2 {
   margin-left:-3px;
}
#order table {
    width: 100%; 
}
#order textarea {
    height: 70px;
    width: 100%; 
}
.right {
    
    padding-right: 15px;
    border-left:0;
}
.right textarea {
    text-align:right;
}
textarea.small {
    height:auto !important;
}
/*#payment textarea {
    width: 100%; 
    height: 50px;
}*/

#kotec {
    width:100%;
    height:40px;
}

table { border-collapse: collapse; }
table td, table th { position: relative; border: 1px solid black; padding: 5px; }



#address { width: 250px; height: 150px; float: left; }
#customer { overflow: hidden; }

/*#logo { text-align: right; float: right; position: relative; margin-top: 25px; border: 1px solid #fff; max-width: 540px; max-height: 100px; overflow: hidden; }
#logo:hover, #logo.edit { border: 1px solid #000; margin-top: 0px; max-height: 125px; }
#logoctr { display: none; }
#logo:hover #logoctr, #logo.edit #logoctr { display: block; text-align: right; line-height: 25px; background: #eee; padding: 0 5px; }
#logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
#logohelp input { margin-bottom: 5px; }*/
.edit #logohelp { display: block; }
.edit #save-logo, .edit #cancel-logo { display: inline; }
.edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }
#customer-title { font-size: 15px; font-weight: bold; float: left;height:120px; }

#meta { margin-top: 1px; width: 300px; float: right; }
#meta td { text-align: right;  }
#meta td.meta-head { text-align: left; background: #eee; }
#meta td textarea { width: 100%; height: 20px; text-align: right; }

#items { clear: both; width: 100%; margin: 30px 0 0 0; border: 1px solid black; }
#items th { background: #eee; }
#items textarea { width: 80px; height: 90px; }
#items tr.item-row td { border: 0; vertical-align: top; }
#items td.description { width: 300px; }
#items td.item-name { width: 175px; }
#items td.description textarea, #items td.item-name textarea { width: 100%; }
#items td.total-line { border-right: 0; text-align: right; }
#items td.total-value { border-left: 0; padding: 10px; }
#items td.total-value textarea { height: 20px; background: none; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }

#terms { text-align: center; margin: 20px 0 0 0; }
#terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
#terms textarea { width: 100%; text-align: center;}

textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover { background-color:#EEFF88; }

.delete-wpr { position: relative; }
.delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }

.options-panel {
    text-align: center;
}

button.set-invoice {
    padding: 15px;
    border: 2px solid black;
    margin-left: 20px;
}

.delete-extra-field-button {
  padding: 10px;
  position: absolute;
  left: -32px;
  border: 1px solid black;
  top: -1px;
}

.delete-extra-field-button:hover {
  background: black;
  color: white;
  cursor: pointer;
  
}

table {
  max-width: calc(100% - 20px);
}

@media print {
  .ui.bottom.attached.segment {
    border: none;
  }

  .ui.top, .link-back {
    display: none !important;
  }

  #hiderow,
  .delete {
    display: none;
  }

  textarea {
      resize:none;
  }

  button {
    display:none;
  }

  .options-panel {
    display: none;
  }
}
</style>

<div class="ui container link-back">
  <br>
  {{link-to "Zpet na kalendar" "index" currentMonth currentYear}}
  <br>
</div>

<div id="page-wrap">

<textarea id="header">Faktura - Daňový doklad - č. {{model.id}}</textarea>
<div class="inline" id="dodavatel">
<b>Dodavatel</b>
<textarea>
Dušan Benčo
Nad Zlíchovem 414/34, 
152 00, Praha 5
Česká Republika
IČO: 71098101
DIČ: 7001310294
</textarea>
</div>
<div class="inline" id="prijemce"><b>Příjemce</b>
<textarea >{{model.owner}}

{{model.customer_address.street}} {{model.customer_address.descnumber}} {{#if model.customer_address.orientnumber}} / {{model.customer_address.orientnumber}} {{/if}}

{{model.customer_address.zip}}, {{model.customer_address.city}}
</textarea></div>
<div class="inline" id="logo">
<img src="/images/invoice/logo-hotel.jpg" alt="">
</div>
<div class="inline" id="payment1">
<textarea class="medium">Datum vystavení dokladu: {{today}}

Den splatnosti: {{today}}
</textarea>
</div>
<div class="inline" id="payment2"><textarea class="medium">Způsob úhrady: v hotovosti
Platební podmínky: s daní
</textarea>
</div>
<div id="order">
<table>
<thead>
<tr>
<th>Položka</th>
<th>Podrobnosti</th>
<th>Cena</th>
</tr>
</thead>
<tbody>
<tr class="item-row">
<td>Kotec:<br>
<input list="kennels" id="kotec" value={{model.kennel_type}}>
<datalist id="kennels">
{{#each kennels as |kennel|}}
  <option value={{kennel.kennel_type}}></option>
{{/each}}
</datalist><br>
Počet dní: <span id="pocet_dni">{{model.daysLength}}</span></td>
<td>Rezervace od: <input id="od" type="date" value={{model.valid_from}} oninput={{action (mut model.valid_from) value="target.value"}}><br>
Rezervace do: <input id="do" type="date" value={{model.valid_to}} oninput={{action (mut model.valid_to) value="target.value"}}><br>

Topení: <input list="bool" id="topeni" value={{boolean-to-string model.heating}} oninput={{action (action (string-to-boolean model "heating")) value="target.value"}}><br>
<datalist id="bool">
<option value="ano" />
<option value="ne" />
</datalist>
Výběh: <input list="bool" id="vybeh" value={{boolean-to-string model.outdoor_enclosure}} oninput={{action (action (string-to-boolean model "outdoor_enclosure")) value="target.value"}}><br>
Léky/Doplňky: <input list="bool" id="leky" value={{boolean-to-string model.drugs}} oninput={{action (action (string-to-boolean model "drugs")) value="target.value"}}> <br>
<!-- Karenténa: <input list="bool" id="karantena" value="{$quarantine}"> -->
</td>
<td><textarea id="costs">Cena bez daně: {{priceWithoutVat}} Kč
Daň(21%): {{vatAmount}} Kč
Cena s daní: {{priceWithVat}} Kč</textarea></td>
</tr>
{{#each extraFields as |extraField|}}
  <tr>
    <td>
      <button {{action "removeExtraField" extraField}} class="delete-extra-field-button">
        X
      </button>
      <textarea>{{extraField.name}}</textarea>
    </td>
    <td><textarea>{{extraField.details}}</textarea></td>
    <td>
      Cena bez daně: {{extraField.priceWithoutVat}} Kč <br>
      Daň (21%): {{extraField.taxValue}} Kč<br>
      Cena s daní: <input style="width:{{extraField.width}}px" type="number" value={{extraField.price}} oninput={{action (mut extraField.price) value="target.value"}}> Kč
    </td>
  </tr>
{{/each}}
<tr>
<td><b>K úhradě:</b></td>
<td colspan="2" class="right"><textarea id="price" class="small">{{totalPriceWithVat}} Kč</textarea></td>
</tr>
</tbody>
</table>
<button {{action "addExtraField"}} id="addrow">Přidat položku</button>
</div>
<div id="credit" class="inline">
<textarea>


Vystavil: Dušan Benčo
Telefon: 777 606 616</textarea>
</div>
<div id="sign" class="inline">
<textarea>



Převzal .........................................</textarea>
</div>
</div>

<div class="options-panel">
    <div class="set-invoice-message">
        
    </div>
    <button disabled={{model.issued_invoice}} {{action "setAsPaid"}} class="set-invoice">
        Nastavit rezervaci jako zaplacenou {{if model.issued_invoice "✅"}}
    </button>
</div>
