

<div class="ui container">
{{link-to "Zpet na kalendar" "index" currentMonth currentYear}}
{{#if message.content}}
  <div class="ui message {{message.class}}">
  	{{message.content}}
  </div>
{{/if}}
	<h2>{{if reject "Odmitnuti" "Potvrzeni"}} rezervace {{model.id}}</h2>
	
	<div class="ui form">
{{#unless reject}}
		<div class="field">
<textarea class="response">
{{#if model.isCz}}
Dobrý den pane/paní {{model.owner}},

Rezervovali jste si u nás kotec {{model.kennel_type}} od {{moment-format model.valid_from "D. M. YYYY"}} do {{moment-format model.valid_to "D. M. YYYY"}}.
Cena: {{model.totalPrice}} Kč

Vybraný způsob předání: {{translate model.type_of_bring "cz" "bring"}}

Vybraný způsob převzetí: {{translate model.type_of_leave "cz" "leave"}}

Topení: {{translate model.heating "cz"}}

{{#unless model.hasBuiltInEnclosure}}
Výběh: {{translate model.outdoor_enclosure "cz"}}

{{/unless}}
Podávání léků/doplňků: {{translate model.drugs "cz"}}

{{!-- Karanténa: {{translate model.quarantine "cz"}} --}}
	
Pro přijetí vašeho pejska je nutné vzít s sebou očkovací průkaz s platným očkováním! (vzteklina, parvoviroza, leptospiroza, psinka)
Doporučujeme očkování proti psincovému (infekčnímu) kašli.

Očkování musí být nejméně 14 dní a nejvýše 1 rok staré!
Děkujeme, že využíváte našich služeb. V případě potřeby nás neváhejte kontaktovat na telefoním čísle 777 153 873.
	
Na tento e-mail neodpovídejte. Byl generován automaticky.
{{else}}
Hello {{model.owner}},
You have reserved a cote {{model.kennel_type}} from {{moment-format model.valid_from "D. M. YYYY"}} to {{moment-format model.valid_to "D. M. YYYY"}}.
Price: {{model.totalPrice}} CZK

Your chosen way of bringing your dog: {{translate model.type_of_bring "en" "bring"}}

Your chosen way of picking up your dog: {{translate model.type_of_leave "en" "leave"}}

Heating: {{translate model.heating "en"}}

{{#unless model.hasBuiltInEnclosure}}
Outdoor enclosure: {{translate model.outdoor_enclosure "en"}}

{{/unless}}
Giving medicine/supplements: {{translate model.drugs "en"}}

	
It is neccessary to bring your inoculation certificate of your dog with valid inoculation date! (rabies, parvovirosis, leptospirosis, canine distemper)
We also reccommend an inoculation against canine adenovirus.

The inoculation must be at least 14 days old but no more than 1 year!
Thank you for using our services. If needed, don"t hesitate to contact us on 777 153 873.
	
Please do not respond to this email. Its content was generated.
{{/if}}
</textarea>
		</div>
		<div class="field">
			<div {{action "send"}} class="ui {{if isResolved "disabled"}} green button">Odeslat</div>
		</div>
{{else}}
<textarea class="response">
{{#if model.isCz}}
Dobrý den pane/paní {{model.owner}},
Je nám líto ale ve vámi zadaném terminu je náš hotel plně obsazen. Pro podrobnosti nás můžete kontaktovat na telefonním čísle 777 153 873.

Na tento e-mail neodpovídejte. Byl generován automaticky.
{{else}}
Hello {{model.owner}},
We are sorry to inform you this, but our hotel is completely full during your specified time. You can call us for more information on 777 153 873.

Please do not respond to this email. Its content was generated.
{{/if}}
</textarea>
<div class="field">
	<div {{action "send"}} class="ui green {{if isResolved "disabled"}} button">Odeslat</div>
</div>
{{/unless}}

	</div>
</div>

{{outlet}}
