{{#if isVisible}}
{{#modal-dialog onClose=(action close) translucentOverlay=true}}
	<div class={{if isLoading 'au-loading'}}>
		<div {{action (action close)}} class="close">
			<svg viewBox="0 0 100 100" width="22" height="22" xmlns="http://www.w3.org/2000/svg">
			 <g>
			  <line id="svg_1" y2="90" x2="90" y1="10" x1="10" stroke-width="20" fill="none"/>
			  <line id="svg_2" y2="90" x2="10" y1="10" x1="90" stroke-width="20" fill="none"/>
			 </g>
			</svg>
		</div>

	{{link-to 'Predchozi mesic' 'index' previousMonth yearOfPreviousMonth class="ui button"}}
	{{link-to 'Pristi mesic' 'index' nextMonth yearOfNextMonth class="ui button"}}
	</div>
{{/modal-dialog}}
{{/if}}
