{{#modal-prototype containerClass="reservation-modal" onClose=(action close)}}
<div {{action (action close)}} class="close">
  <svg viewBox="0 0 100 100" width="22" height="22" xmlns="http://www.w3.org/2000/svg">
    <g>
      <line id="svg_1" y2="90" x2="90" y1="10" x1="10" stroke-width="20" fill="none" />
      <line id="svg_2" y2="90" x2="10" y1="10" x1="90" stroke-width="20" fill="none" />
    </g>
  </svg>
</div>
{{#with reservation as |res|}}
<div class="reservation-detail" data-reservation-id={{res.id}} data-reservation={{to-json  res}}>
  <div class="section">
  <i class="icon user"></i> Vytvořil(a) <a target="_blank"
    href="/admin/customers/detail/{{res.idcont}}">{{res.owner}}</a> dne {{moment-format res.createstamp "D. M. YYYY"}}
</div>
<div class="section">
  <strong>Pes:</strong> {{res.dog_name}} ({{res.breed}})<br>
  <strong>Kontakt:</strong> <i class="ui icon phone"></i> {{res.phone}}<br>
</div>
<div class="section">
  <strong>Od:</strong>
  {{date-picker value=res.valid_from onChange=(action 'updateOverlappings')}}({{res.type_of_bring}}) <br>
  <strong>Do:</strong> {{date-picker value=res.valid_to onChange=(action 'updateOverlappings')}}
  ({{res.type_of_leave}})<br>
  {{reservation.daysLength}} dní ({{reservation.totalPrice}} Kč)
</div>
<div class="section">
  <strong>Topeni:</strong> {{translate res.heating}},
  <strong>Vybeh:</strong> {{translate res.outdoor_enclosure}},
  <strong>Leky:</strong> {{translate res.drugs}}
</div>
<div class="section">
  <strong>Kotec:</strong> {{res.kennel_type}}
</div>
{{#if res.note}}
<p class="note">
  "{{res.note}}"
</p>
{{/if}}
<div class="ui form">
  <div class="two fields">
    <div class="field">
      <select data-cut-select>
        {{#each reservationDates as |date|}}
        <option value="{{date}}">{{moment-format date "D. M."}}</option>
        {{/each}}
      </select>
    </div>

    <div class="field">
      <div {{action "cut"}} class="split-reservations ui button">Rozdelit rezervace</div>
    </div>
  </div>
  <div class="field">
    <div class="ui buttons">
      <a class="ui small button" target="_blank"
        href="{{concat "https://www.skolapropsy.cz/admin/invoice/" res.id}}">Faktura</a>
      {{!-- {{link-to "Faktura" "invoice" res.id class="ui small button"}} --}}
      {{link-to "Potvrzení o zaplacení" "payment-verification" res.id class="payment-verification ui small button"}}
    </div>
  </div>
  <div class="field">
    <div class="ui buttons">
      {{#if res.isUnconfirmed}}
      {{!-- <div class="ui purple button">Potvrdit rezervaci</div> --}}
      {{link-to 'Potvrdit rezervaci' 'confirm' res (query-params reject=false) class="confirm-reservation ui green button"}}
      {{link-to 'Odmitnout rezervaci' 'confirm' res (query-params reject=true) class="reject-reservation ui orange button"}}
      {{else}}
      <div {{action "saveSelectedReservation"}} class="save-reservation ui green button">
        Ulozit
      </div>
      <div class="delete-reservation ui red button" {{action "deleteSelectedReservation"}}>
        Odstranit rezervaci
      </div>
      {{/if}}
      <div {{action "rollback"}} class="cancel-changes ui orange button">Zrusit zmeny</div>
    </div>
  </div>
  </div>
</div>
{{/with}}
{{/modal-prototype}}
