<div class="ui container">
  {{link-to "Zpet na kalendar" "index" currentMonth currentYear}} {{#if message.content}}
  <div class="ui message {{message.class}}">
    {{message.content}}
  </div>
  {{/if}}
  <h2>Odeslání potvrzení o zaplacení pro rezervaci {{model.id}}</h2>

  <div class="ui form">
    <div class="field">
      <textarea class="response">
{{#if model.isCz}}
Dobrý den pane/paní {{model.owner}},

Děkujeme za zaplacení zálohy pro rezervaci {{model.kennel_type}} od {{moment-format model.valid_from "D. M. YYYY"}} do {{moment-format model.valid_to "D. M. YYYY"}}.

Děkujeme, že využíváte našich služeb. V případě potřeby nás neváhejte kontaktovat na telefoním čísle 777 153 873.

Na tento e-mail neodpovídejte. Byl generován automaticky.
{{else}}
Hello {{model.owner}},
Thank you for completing the advance payment for the reservation: {{model.kennel_type}} from {{moment-format model.valid_from "D. M. YYYY"}} to {{moment-format model.valid_to "D. M. YYYY"}}.

Your chosen way of bringing your dog: {{translate model.type_of_bring "en" "bring"}}

Your chosen way of picking up your dog: {{translate model.type_of_leave "en" "leave"}}

Thank you for using our services. If needed, don"t hesitate to contact us on 777 153 873.
  
Please do not respond to this email. Its content was generated.
{{/if}}
      </textarea>
    </div>
    <div class="field">
      <div {{action "send"}} class="ui {{if isResolved " disabled "}} green button">Odeslat</div>
    </div>
  </div>
</div>

{{outlet}}